/* styles.css */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: black;
    color: white;

}
p{
    display: inline;
}

header {
    background: black;
    color:white;
    padding: 1rem 0;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: burlywood;
    text-decoration: none;
}

section {
    padding: 2rem;
    background-color: black;
    color: white;
}
.two{
    color: skyblue;
}

#home {
    background-color: black;
    color: rgb(13, 177, 65);
    text-align: center;
    padding: 4rem 2rem;
}

#about, #portfolio, #contact {
    background-color:black;
    color: chocolate;
    margin: 2rem 0;
}
#one{
    color: aqua;
}

h2{
    color: rgb(168, 70, 70);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    cursor: pointer;
    
}

.project {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 300px;
}

.project img {
    max-width: 100%;
    height: 40%;

}

form {
    display:inline-block;

   
    gap: 1rem;
  color: aquamarine;
    margin-left: 100px;
}

form label {
    font-weight: bold;
}







footer {
    background-color: black;
    color:burlywood;
    text-align: center;
    
}